
/* Bullet Point Indentation */

.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1px solid #4D3CA6;
 position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; 
}
ul ul::before { left: -11px; top: 0; bottom: 0; 
} 


blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“ ";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/* Remove blockquote left margin */
blockquote {
  margin-inline-start: 0;
}


div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list-ul {
color: transparent;
position: relative;
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list-ul:after {
content: "•";
position: absolute;
top: -2px;
left: 1px;
color: var(--bright-aqua);
font-family: sans-serif;
font-size: 25px;
}



/* Naked Embeds */
.markdown-embed-title { display: none; }
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0;}
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0;}

/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { 
  max-height: unset;
  border-radius: 15px;
  background-color: var(--background-secondary); /*define different bg color*/
}

/* the link on the top right corner*/
.markdown-embed-link {
color: var(--text-faint) !important;
}

.markdown-embed-link:hover {
color: var(--text-accent) !important;
}


.markdown-preview-view img {
  display: block;
  margin-top: 20pt;
  margin-bottom: 20pt;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* experiment with values */
  transition: transform 0.25s ease;
}
.markdown-preview-view img:hover {
-webkit-transform: scale(1.8); /* experiment with values */
transform: scale(2);
}

img {
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
background-color: var(--background-secondary); /* Background color so PNGs with transparent backgrounds don't look weird */
}

.tag[href="#evergreen"]:after {
  font-size: var(--font-tag-preview-size);
  background-color: #c0cdf3;
  font-weight: 900;
  padding: 3px 5px;
  border-radius: 10px;
  letter-spacing: -0.05ch;
  content: "🌲";
}


.tag {
  font-size: var(--font-tag-preview-size);
  font-weight: 900;
  background-color: #c0cdf3;
  padding: 3px 5px;
  border-radius: 10px;
  letter-spacing: -0.05ch;
}




/* Support for https://github.com/liamcain/obsidian-calendar-plugin */
#calendar-container {
  --color-text-today: #c3e88d;
  --color-text-weeknum: rgba(122, 136, 207, 0.8);
  --color-arrow: #7a88cf;
  --color-dot: rgba(195, 232, 141, 0.5);
}
#calendar-container .year {
  color: #7a88cf;
}



.status-bar {
  background-color: #c0cdf3;
  border-radius: 20px;
  font-size: 14px;
  font-family: Avenir;
  font-style: italic;
  color: #4D3CA6;
}



.prompt {
  background-color: #c0cdf3;
  border: 1px solid #131421;
}
.prompt .prompt-input {
  font-size: var(--font-prompt-size);
  background-color: #c0cdf3;
  border-radius: 15px;
  border-color: #c0cdf3;
}
.prompt .prompt-results .suggestion-item {
  padding: 8px 10px;
  font-size: var(--font-prompt-size);
  margin-right: 2px;
  border-radius: 10px;
}
.prompt .prompt-results .suggestion-item.is-selected {
  background-color: #7a88cf;
}
.prompt .prompt-instructions {
  border-top: 1px solid #7a88cf;
  color: #7a88cf;
}

:root {
  --default-font: "Dear Sans", sans-serif;
  --code-mono-font: 'Source Code Pro', sans-serif;
}